.announcement
  script(src="https://api-maps.yandex.ru/2.1/?load=Geolink&lang=ru_RU&apikey=aa281979-9e28-442a-9b8f-43fab62b25e4")
  -
    const ll = [43.800389, 131.915237];
    const mapBounds = `[[${ll[0]-1e-3},${ll[1]-1e-3}],[${ll[0]+1e-3},${ll[1]+1e-3}]]`;
  .announcement__block
    | ⚡⚡⚡ Уважаемые клиенты!
    br
    | Доводим до вашего сведения, что с #[em 1 октября 2022 года]
    ol(style="text-align: start;")
      li Действуют #[a.link(href="/pricing.html") новые тарифы];
      li
        | Пункт приёма груза в Уссурийске меняет адрес
        | на #[span.ymaps-geolink(data-type="geo", data-bounds=mapBounds) ул. Сельскохозяйственная, 16а].
