doctype html
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Берг Транспортная компания
    link(rel="icon", href="favicon.ico")
    link(rel="stylesheet", href="css/grid.css")
    link(rel="stylesheet", href="css/normalize.css")
    link(rel="stylesheet", href="css/style.css")

    block head

  body.nogrid
    #sprite(style="display: none;")
      include /public/img/sprite.svg

    header
      .header.container
        .logo
          a.logo__icon(href="home.html")
            include /public/img/logo.svg
          .logo__text Транспортная #[br] компания
          .logo__slogan Автоперевозки грузов по Дальнему Востоку
        .contacts
          address.contacts__address г. Владивосток, пр-кт 100-летия Владивостока, 161А
          .contacts__working-hours Пн-Пт с #[time(datetime="09:00") 09:00] до #[time(datetime="18:00") 18:00]
          .contacts__phones
            a(href="tel:+74232318052") +7(423)231-80-52
            |
            | (офис)#[br]
            a(href="tel:+74232340015").fax +7(423)234-00-15
            |
            | (факс)
          .contacts__email
            | email:
            |
            a(href="mailto:berg2004@list.ru") berg2004@list.ru

      nav.nav-header
        .container.container--wide
          ul.nav-header__items
            -
              const items = [
                {id: "icon-box", href: "", caption: "Заявка на&nbsp;перевозку", width: "39", height: "39"},
                {id: "icon-rur", href: "", caption: "Прайс-лист по&nbsp;направлениям", width: "28", height: "37"},
                {id: "icon-calc", href: "", caption: "On-line<br>калькулятор", width: "37", height: "39"},
                {id: "icon-docs", href: "docs.html", caption: "Документы", width: "31", height: "39"},
              ]
            each item in items
              li.nav-header__item
                a.nav-header__link(href=item.href)
                  svg.nav-header__icon(width=item.width, height=item.height, aria-hidden="true", role="presentation")
                    use(xlink:href="#"+item.id)
                  span.nav-header__caption !{item.caption}

    main
      .container
        block content

    footer
      nav.nav-footer
        .container.container--wide
          ul.nav-footer__items
            -
              const navFooterItems = [
                {href: "about.html", body: "О компании"},
                {href: "contacts.html", body: "Контакты"},
                {href: "containers.html", body: "Перевозка контейнеров"},
                {href: "payment.html", body: "Форма оплаты"},
                {href: "package.html", body: "Упаковка"},
                {href: "truck-service.html", body: "Автосервис"}
              ]

            each item in navFooterItems
              li.nav-footer__item
                a.nav-footer__link(href=item.href)=item.body

      .footer.container.container--wide
        .footer__col © Транспортная компания «Берг», 2015<br>Автоперевозки грузов по Дальнему Востоку
        .footer__col
          address г. Владивосток, пр-кт 100-летия Владивостока, 161А
          a(href="tel:+74232318052") +7 (423) 231-80-52
          |,
          |
          a.fax(href="tel:+74232340015") +7 (423) 234-00-15

    script(src="bundle.js")
