extends ../pug/layout
block variables
  -
    title = "Тарифный калькулятор"
    description = "Онлайн-расчет стоимости грузоперевозки в зависимости от характеристик груза по тарифам ТК Берг."

block head
  script(src="vendor/imask/imask.min.js")

block content
  include ../pug/tariffs
  -
    const places = tariffs.places;
    const heavyCargoPrices = tariffs.heavyCargoPrices;
    const lightCargoPrices = tariffs.lightCargoPrices;
    const minPrices = tariffs.minPrices;
    const fridgePrices = tariffs.fridgePrices;

  //TODO оформить покрасивее
  article
    h2.h2 Тарифный калькулятор

    form.form(name="calculator")
      section.form__section
        h3.h3 Направление
        .form__section-content
          .control-group(style="display: flex; flex-wrap: wrap;")
            .control(style="width: min-content;")
              label(for="origin") Место отправления
              select#origin(name="origin")
                option(selected, value) &lt;не выбрано&gt;
                each placeName, place in places
                  option(value=place)=placeName
            .control(style="width: min-content;")
              label(for="destination") Место получения
              select#destination(name="destination")
                option(selected, value) &lt;не выбрано&gt;
                each placeName, place in places
                  option(value=place)=placeName
          p.direction-error-message(aria-live="assertive", hidden) По данному направлению автоматический расчет тарифа не предусмотрен.

      section.form__section
        h3.h3 Характеристики груза
        .form__section-content
          .control-group.flex.flex--wrap
            .control.min-content
              label(for="weight") Вес груза, кг
              input#weight(type="text", name="weight", inputmode="numeric", style="width: 15ch;")
            .control.min-content
              label(for="volume") Объем груза, м³
              input#volume(type="text", name="volume", inputmode="numeric", style="width: 15ch;")

          .control-group
            .control
              p.cargo-category(aria-live="assertive") &nbsp;

          .control-group
            .control
              input#ic-engine(type="checkbox", name="params[]", value="ic-engine")
              label(for="ic-engine") Это двигатель внутреннего сгорания
            .control
              input#fridge(type="checkbox", name="params[]", value="fridge")
              label(for="fridge") Необходимо соблюдение температурного режима для груза (+ или - °С)
            .control
              input#oversized(type="checkbox", name="params[]", value="oversized")
              label(for="oversized") Негабаритный груз

      section.form__section
        h3.h3 Результат расчета
        .form__section-content
          .control-group
            .control
              p.h1(style="font-size: xx-large;")
                output(name="result", aria-live="assertive")

    script.
      (()=>{
        const isNumber = (value) => typeof value === 'number' && isFinite(value);
        const form = document.forms.calculator;

        const weightElement = form.querySelector('[name="weight"]');
        new IMask(weightElement, {
          mask: Number,  // enable number mask

          scale: 1,  // digits after point, 0 for integers
          signed: false,  // disallow negative
          thousandsSeparator: '',  // any single char
          padFractionalZeros: false,  // if true, then pads zeros at end to the length of scale
          normalizeZeros: true,  // appends or removes zeros at ends
          radix: ',',  // fractional delimiter
          mapToRadix: ['.']  // symbols to process as radix
        });

        const volumeElement = form.querySelector('[name="volume"]');
        new IMask(volumeElement, {
          mask: Number,  // enable number mask

          scale: 3,  // digits after point, 0 for integers
          signed: false,  // disallow negative
          thousandsSeparator: '',  // any single char
          padFractionalZeros: false,  // if true, then pads zeros at end to the length of scale
          normalizeZeros: true,  // appends or removes zeros at ends
          radix: ',',  // fractional delimiter
          mapToRadix: ['.']  // symbols to process as radix
        });

        const tariffs=!{JSON.stringify(tariffs, (key, value) => (value === Infinity ? 'Infinity' : value)).replace(/"Infinity"/g, 'Infinity')};

        const places = tariffs.places;
        const oversizedRaisingFactor = tariffs.oversizedRaisingFactor;
        const heavyCargoPrices = tariffs.heavyCargoPrices;
        const lightCargoPrices = tariffs.lightCargoPrices;
        const minPrices = tariffs.minPrices;
        const fridgePrices = tariffs.fridgePrices;
        const icenginePrices = tariffs.icenginePrices;

        const cargoCategories = {
          LIGHT: 'легкий',
          HEAVY: 'тяжелый'
        }

        const detectCargoCategory = (weight, volume) => {
          if (!isNumber(weight) && !isNumber(volume)) return null;
          if (isNumber(weight) && !isNumber(volume)) return cargoCategories.HEAVY;
          if (!isNumber(weight) && isNumber(volume)) return cargoCategories.LIGHT;

          const detectLight = (volume / (weight * 0.001)) >= 5;
          return detectLight ? cargoCategories.LIGHT : cargoCategories.HEAVY;
        }

        const processCalc = ({weight, volume, params, origin, destination}) => {
          const cargoCategory = detectCargoCategory(weight, volume);
          if (!cargoCategory) return null;

          const isICEngine = (params?.includes('ic-engine')) ?? false;
          const isFridge = (params?.includes('fridge')) ?? false;
          const isOversized = (isICEngine || params?.includes('oversized')) ?? false;

          let cargoPrices, cargoIndicator, limit;
          switch (cargoCategory) {
            case cargoCategories.LIGHT:
              cargoPrices = lightCargoPrices;
              cargoIndicator = volume;
              limitKey = 'limitLight';
              break;
            case cargoCategories.HEAVY:
              cargoPrices = heavyCargoPrices;
              cargoIndicator = weight;
              limitKey = 'limitHeavy';
              break;
            default: throw Error();
          };

          let idx = 0;;
          while (cargoIndicator >= cargoPrices[idx].limit) {
            idx++;
            if (!cargoPrices[idx]) throw Error();
          };
          console.log('price', cargoPrices[idx]);

          const tariff = cargoPrices[idx].price?.[origin]?.[destination] ?? null;
          if (!isNumber(tariff)) return null;

          let amount = tariff * cargoIndicator * (isOversized ? oversizedRaisingFactor : 1);

          idx = 0;
          // console.log(cargoIndicator, minPrices[idx]?.[limitKey]);
          while((minPrices[idx][limitKey] === null) || (cargoIndicator > minPrices[idx][limitKey])) {
            idx++;
            // console.log(cargoIndicator, minPrices[idx]?.[limitKey]);
            if (!minPrices[idx]) break;
          };
          console.log('minPrice', minPrices[idx]);

          const minAmount = minPrices[idx]?.price?.[origin]?.[destination] ?? 0;

          const fridgeAmount = isFridge ? (fridgePrices.price?.[origin]?.[destination] ?? 0) : 0;
          const ICEngineAmount = isICEngine ? (icenginePrices.price?.[origin]?.[destination] ?? 0) : 0;

          const finalAmount = Math.max(amount, minAmount, ICEngineAmount) + fridgeAmount;

          console.log({origin, destination, finalAmount});
          console.log({amount, minAmount, ICEngineAmount, fridgeAmount});
          return finalAmount;
        }

        const handleFormChange = (event) => {
          const form = event.currentTarget;
          const data = new FormData(form);

          const weight = parseFloat((data.get('weight') ?? '').replace(',', '.'));
          const volume = parseFloat((data.get('volume') ?? '').replace(',', '.'));

          const cargoCategory = detectCargoCategory(weight, volume);
          const cargoCategoryElement = form.querySelector('.cargo-category');
          cargoCategoryElement.innerHTML = `${cargoCategory ? cargoCategory + ' груз': '&nbsp;'}`;

          const origin = data.get('origin');
          const destination = data.get('destination');

          const directionIsSelected = Boolean(origin && destination);
          const directionIsValid = Boolean(processCalc({weight: 1, volume: 1, origin, destination}));

          const directionErrorMessageElement = form.querySelector('.direction-error-message');
          directionErrorMessageElement.hidden = !directionIsSelected || directionIsValid;

          const amount = processCalc({weight, volume, params: data.getAll('params[]'), origin, destination});

          const resultElement = form.elements.result;
          resultElement.value = amount === null ? '<не рассчитано>' : `${parseFloat(amount.toFixed(2))} рублей`;
        };

        form.addEventListener('change', handleFormChange);
        form.addEventListener('submit', (event) => {
          console.log('submit', event);
        });

      })();
