extends ../pug/layout

block head
  -
    const maps = [
      {city: "Владивосток", address: "пр-кт 100-летия Владивостока, 161А", ll: [43.189470, 131.915753]},
      {city: "Уссурийск", address: "ул. Чичерина, 152", ll: [43.793698, 131.981680]},
      {city: "Хабаровск", address: "ул. Восточное шоссе, 8Б", ll: [48.482227, 135.145745]},
      {city: "Комсомольск-на-Амуре", address: "ул. Лесозаводская, 6А", ll: [50.5516, 137.036]},
      {city: "Благовещенск", address: "ул. Чехова, 3", ll: [50.273424, 127.566212]}
    ]

  script(src="https://api-maps.yandex.ru/2.1/?load=Geolink&lang=ru_RU&apikey=aa281979-9e28-442a-9b8f-43fab62b25e4")

block content
  article.contacts-page
    h2.visually-hidden Контакты
    section.section
      -let mapIdx = 0; // Владивосток
      -let dataBounds;
      h3.h3.section__header=maps[mapIdx].city
      .section__content
        address
          -dataBounds = `[[${maps[mapIdx].ll[0]-1e-3},${maps[mapIdx].ll[1]-1e-3}],[${maps[mapIdx].ll[0]+1e-3},${maps[mapIdx].ll[1]+1e-3}]]`
          span.ymaps-geolink(data-type="geo", data-bounds=dataBounds)=maps[mapIdx].address
        p Отправка из Владивостока:
        ul.contacts-page__phone-list
          li.contacts-page__phone-list-item
            .contacts-page__phone-link
              a(href="tel:+79243304405") +7(924)330-44-05
            span диспетчер Евгений
        p Выдача груза:
        ul.contacts-page__phone-list
          li.contacts-page__phone-list-item
            .contacts-page__phone-link
              a(href="tel:+79243304409") +7(924)330-44-09
            span диспетчер Анна
        p Телефон выходного дня:
        ul.contacts-page__phone-list
          li.contacts-page__phone-list-item
            .contacts-page__phone-link
              a(href="tel:+79243304407") +7(924)330-44-07
        p Договоры, претензии:
        ul.contacts-page__phone-list
          li.contacts-page__phone-list-item
            .contacts-page__phone-link
              a(href="tel:+79243304401") +7(924)330-44-01
            span Пётр

    -mapIdx = 1; // Уссурийск
    section.section
      h3.h2.section__header=maps[mapIdx].city
      .section__content
        address
          -dataBounds = `[[${maps[mapIdx].ll[0]-1e-2},${maps[mapIdx].ll[1]-1e-2}],[${maps[mapIdx].ll[0]+1e-2},${maps[mapIdx].ll[1]+1e-2}]]`
          span.ymaps-geolink(data-type="geo", data-bounds=dataBounds)=maps[mapIdx].address
        ul.contacts-page__phone-list
          li.contacts-page__phone-list-item
            .contacts-page__phone-link
              a.fax(href="tel:+74234355500") +7(4234)355-500
            span телефон/факс
          li.contacts-page__phone-list-item
            .contacts-page__phone-link
              a(href="tel:+79243307799") +7(924)330-77-99
            span Марина

    -mapIdx = 2; // Хабаровск
    section.section
      h3.h2.section__header=maps[mapIdx].city
      .section__content
        address
          -dataBounds = `[[${maps[mapIdx].ll[0]-1e-3},${maps[mapIdx].ll[1]-1e-3}],[${maps[mapIdx].ll[0]+1e-3},${maps[mapIdx].ll[1]+1e-3}]]`
          span.ymaps-geolink(data-type="geo", data-bounds=dataBounds)=maps[mapIdx].address
        ul.contacts-page__phone-list
          li.contacts-page__phone-list-item
            .contacts-page__phone-link
              a(href="tel:+74212377575") +7(4212)37-75-75
            span
          li.contacts-page__phone-list-item
            .contacts-page__phone-link
              a(href="tel:+74212377339") +7(4212)37-73-39
            span
          li.contacts-page__phone-list-item
            .contacts-page__phone-link
              a(href="tel:+79243302076") +7(924)330-20-76
            span приём грузов, Татьяна
          li.contacts-page__phone-list-item
            .contacts-page__phone-link
              a(href="tel:+79842953632") +7(984)295-36-32
            span выдача грузов, Елена

    -mapIdx = 4; // Благовещенск
    section.section
      h3.h2.section__header=maps[mapIdx].city
      .section__content
        address
          -dataBounds = `[[${maps[mapIdx].ll[0]-1e-3},${maps[mapIdx].ll[1]-1e-3}],[${maps[mapIdx].ll[0]+1e-3},${maps[mapIdx].ll[1]+1e-3}]]`
          span.ymaps-geolink(data-type="geo", data-bounds=dataBounds)=maps[mapIdx].address

        ul.contacts-page__phone-list
          li.contacts-page__phone-list-item
            .contacts-page__phone-link
              a(href="tel:+79248411208") +7(924)841-12-08
            span Яна
          li.contacts-page__phone-list-item
            .contacts-page__phone-link
              a(href="tel:+79248430022") +7(924)843-00-22
            span руководитель площадки Шульгин Сергей

    -mapIdx = 3; // Комсомольск
    section.section
      h3.h2.section__header=maps[mapIdx].city
      .section__content
        address
          -dataBounds = `[[${maps[mapIdx].ll[0]-1e-3},${maps[mapIdx].ll[1]-1e-3}],[${maps[mapIdx].ll[0]+1e-3},${maps[mapIdx].ll[1]+1e-3}]]`
          span.ymaps-geolink(data-type="geo", data-bounds=dataBounds)=maps[mapIdx].address
        h4 ТЭС
        ul.contacts-page__phone-list
          li.contacts-page__phone-list-item
            .contacts-page__phone-link
              a(href="tel:+79241042323") +79241042323
            span Анна
