extends ../pug/layout

mixin contact(role, responsibility)
  -
    if (!responsibility) {
      responsibility = role === 'payer' ? 'paying' : 'cargo'
    };
    const prefix = `${role}-${responsibility}`;
  .control-group.grid12(class=`${prefix}-contact`)&attributes(attributes)
    .control.grid12__col.grid12__desktop-col.grid12__desktop-col--6
      label(for=`${prefix}-contact-fio`)
        case responsibility
          when 'cargo'
            | Контактное лицо по вопросам передачи груза
          when 'paying'
            | Контактное лицо по вопросам оплаты перевозки

      input(id=`${prefix}-contact-fio`, type="text", name=`${prefix}-contact-fio`, data-suggestion-type="name")
    .control.grid12__col.grid12__desktop-col.grid12__desktop-col--6
      label(for=`${prefix}-contact-tel`) Телефон
      input(id=`${prefix}-contact-tel`, type="tel", name=`${prefix}-contact-tel`)

mixin counterpartyRole(role)
  -
    const roles = {
      consigner: "Грузоотправитель",
      consignee: "Грузополучатель",
      payer: "Плательщик"
    }

  .control-group(style="display: flex;")
    .control.control--required
      input(id=`${role}-type-legal-entity`, type="radio", name=`${role}-type`, value="legal-entity")
      label.control__label(for=`${role}-type-legal-entity`) Организация или ИП
    .control.control--required
      input(id=`${role}-type-private-person`, type="radio", name=`${role}-type`, value="private-person")
      label.control__label(for=`${role}-type-private-person`) Частное лицо

  div(class=`group-${role}-legal-entity`, hidden)
    .control-group.grid12
      .control.control--required.grid12__col
        label.control__label(for=`${role}`) Организация или ИП
        input(id=`${role}`, type="text", name=`${role}`, placeholder="название, адрес, ИНН или ОГРН")
      .control.grid12__col.grid12__col--6.grid12__desktop-col.grid12__desktop-col--4
        label(for=`${role}-INN`) ИНН
        input(id=`${role}-INN`, type="text", name=`${role}-INN`)
      .control.grid12__col.grid12__col--6.grid12__desktop-col.grid12__desktop-col--4
        label(for=`${role}-KPP`) КПП
        input(id=`${role}-KPP`, type="text", name=`${role}-KPP`)
      .control.grid12__col.grid12__col--12.grid12__desktop-col.grid12__desktop-col--4
        label(for=`${role}-OGRN`) ОГРН
        input(id=`${role}-OGRN`, type="text", name=`${role}-OGRN`)
      .control.grid12__col
        label
          span Юридический адрес
          textarea(id=`${role}-address`, name=`${role}-address`, data-suggestion-type="address")
    +contact(role)

  .control-group.grid12(class=`group-${role}-private-person`, hidden)
    .control.control--required.grid12__col.grid12__desktop-col.grid12__desktop-col--6
      label.control__label(for=`${role}-fio`) ФИО
      input(id=`${role}-fio`, type="text", name=`${role}-fio`, data-suggestion-type="name")

    .control.control--required.grid12__col.grid12__desktop-col.grid12__desktop-col--6
      label.control__label(for=`${role}-tel`) Телефон
      input(id=`${role}-tel`, type="tel", name=`${role}-tel`)

  case role
    when 'consigner'
    when 'consignee'
      .control-group
        .control
          input(id=`${role}-is-payer`, type="checkbox", name=`${role}-is-payer`, value=`${role}-is-payer`)
          label(for=`${role}-is-payer`) #{roles[role]} является плательщиком

  if role !== 'payer'
    +contact(role, 'paying')(hidden)

mixin cargoOperation(operation)
  case operation
    when 'loading'
      section
        h4.h4 Грузоотправитель
        +counterpartyRole('consigner')
    when 'unloading'
      section
        h4.h4 Грузополучатель
        +counterpartyRole('consignee')

  if operation === 'loading'
    h4.h4 Дата и время отправления
    .control-group.flex.flex--wrap
      label.control.control--required.min-content
        span.control__label Дата
        |
        input(id=`${operation}-date`, type="date", name=`${operation}-date`)

      label.control.min-content
        span.control__label Время
        |
        input(id=`${operation}-time`, type="text", name=`${operation}-time`, style="width: 20ch;")
      p.control-group__hint Заявка на подачу машины на следующие сутки принимается до #[time 16:00]

  h4.h4
    case operation
      when 'loading'
        | Место отправления груза
      when 'unloading'
        | Место получения груза

  .grid12
    .control-group.grid12__col
      .control.control--required
        label.control__label(for=`${operation}-place`)
          case operation
            when 'loading'
              | Город отправления груза
            when 'unloading'
              | Город получения груза

        select(id=`${operation}-place`, name=`${operation}-place`)
          option(selected, disabled, value="") &lt;не выбрано&gt;
          each placeName, place in places
            option(value=place)=placeName
          option(value="other") Другой город
        p.control__hint Для подачи машины в город Артем выберите #[q Владивосток].

    .control-group.grid12__col
      .control.control--required(class=`${operation}-terminal-control`)
        input(id=`${operation}-point-terminal`, type="radio", name=`${operation}-point`, value=`${operation}-point-terminal`)
        label.control__label(class=`${operation}-point-terminal-title`, for=`${operation}-point-terminal`) Терминал перевозчика
      .control.control--required(class=`${operation}-client-control`)
        input(id=`${operation}-point-client`, type="radio", name=`${operation}-point`, value=`${operation}-point-client`)
        label.control__label(for=`${operation}-point-client`) Подача машины по адресу склада грузоотправителя
      .control.control--required(class=`${operation}-pickup-control`)
        input(id=`${operation}-point-pickup`, type="radio", name=`${operation}-point`, value=`${operation}-point-pickup`)
        label.control__label(for=`${operation}-point-pickup`) Передача груза на трассе в согласованное с водителем время

    .control-group.grid12__col(class=`group-${operation}-point-client-address`, hidden)
      label.control.control--required
        span.control__label Адрес передачи груза
        textarea(id=`${operation}-point-client-address`, name=`${operation}-point-client-address`, data-suggestion-type="address")

block head
  //- zepto не заработало
  //- script(src="https://cdnjs.cloudflare.com/ajax/libs/zepto/1.2.0/zepto.min.js", integrity="sha512-BrvVYNhKh6yST24E5DY/LopLO5d+8KYmIXyrpBIJ2PK+CyyJw/cLSG/BfJomWLC1IblNrmiJWGlrGueKLd/Ekw==", crossorigin="anonymous", referrerpolicy="no-referrer")
  link(href="vendor/suggestions/suggestions.min.css", rel="stylesheet")
  style.
    .suggestions-promo {
      display: none !important;
    }

block content
  include ../pug/tariffs
  -
    const places = tariffs.places;

  form.form.form--order(name="order", onsubmit="return false;")
    div(style="display: flex; gap: 1ch; justify-content: space-between; align-items: baseline;")
      h2.h2 Заявка на грузоперевозку
      button.suggest-helper.suggest-helper--clean-form(type="button", style="margin-left: auto;")
        span.suggest-helper__label Очистить заявку
      button.suggest-helper.suggest-helper--fill-form(type="button")
        span.suggest-helper__label Заполнить по последней заявке
    section.form__section
      h3.h3 1. Груз
      .control-group.grid12.form__section-content
        .control.control--required.grid12__col.grid12__col--12
          label.control__label(for="cargo") Наименование
          input#cargo(type="text", name="cargo")
        .control.control--required.grid12__col.grid12__col--4.grid12__desktop-col.grid12__desktop-col--2
          label.control__label(for="cargo-weight") Вес, кг
          input#cargo-weight(type="text", name="cargo-weight", inputmode="numeric")
        .control.control--required.grid12__col.grid12__col--4.grid12__desktop-col.grid12__desktop-col--2
          label.control__label(for="cargo-volume") Объем, м³
          input#cargo-volume(type="text", name="cargo-volume", inputmode="numeric")
        .control.control--required.grid12__col.grid12__col--4.grid12__desktop-col.grid12__desktop-col--2
          label.control__label(for="cargo-qty") Количество мест
          input#cargo-qty(type="text", name="cargo-qty", inputmode="numeric")
        .control.grid12__col.grid12__col--6.grid12__desktop-col.grid12__desktop-col--3
          label.control__label(for="cargo-condition") Температурный режим
          input#cargo-condition(type="text", name="cargo-condition", placeholder="не требуется")
        .control.grid12__col.grid12__col--6.grid12__desktop-col.grid12__desktop-col--3
          label.control__label(for="cargo-value") Объявленная стоимость, руб.
          input#cargo-value(type="text", name="cargo-value", inputmode="numeric")
        label.control.grid12__col.grid12__col--6.grid12__desktop-col.grid12__desktop-col--3
          span.control__label Страховка
          select#insurance(name="insurance")
            option(selected, disabled, value="") &lt;не выбрано&gt;
            option(value="не страховать") не страховать
            option(value="страховать") страховать

    section.form__section
      h3.h3 2. Отправление груза
      .form__section-content
        +cargoOperation('loading')
    section.form__section
      h3.h3 3. Получение груза
      .form__section-content
        +cargoOperation('unloading')

    section.form__section
      h3.h3 4. Оплата
      .form__section-content
        section.section-payer
          h4.h4 Плательщик
          +counterpartyRole('payer')
        section
          h4.h4 Форма оплаты
          .control-group
            .control
              label(for="payment-form") Форма оплаты
              select#payment-form(name="payment-form")
                option(selected, disabled, value="") &lt;не выбрано&gt;
                option Безналичная
                option Наличными с чеком
                option Наличными без чека
              p.control__hint Безналичный расчет возможен только при наличии договора.

    section.form__section
      h3.h3
        label(for="memo") 5. Дополнительная информация
      .control-group
        .control
          textarea#memo(name="memo", placeholder="например, сделать остановку в Хабаровске")

    section.form__section
      h3.h3 6. Заявку составил
      .form__section-content.control-group.grid12
        .control.control--required.grid12__col.grid12__col.grid12__desktop-col.grid12__desktop-col--6
          label.control__label(for="order-author-fio") ФИО
          input#order-author-fio(type="text", name="order-author-fio", data-suggestion-type="name")
        .control.control--required.grid12__col.grid12__col.grid12__desktop-col.grid12__desktop-col--6
          label.control__label(for="order-author-tel") Телефон
          input#order-author-tel(type="tel", name="order-author-tel")
        .control.control--required.grid12__col.grid12__col.grid12__desktop-col.grid12__desktop-col--6
          label.control__label(for="order-author-email") Е-майл
          input#order-author-email(type="email", name="order-author-email", data-suggestion-type="email")

    section.form__section
      h3.h3 7. Отправка заявки
      .form__section-content
        ul
          li
            a(href="terms.html") Условия перевозки грузов
          li
            a(href="pricing.html") Тарифы на грузоперевозку

        .control-group
          .control.control--required
            input#accept(type="checkbox", name="accept", value="accept")
            label.control__label(for="accept") Я ознакомился с условиями перевозки грузов и тарифами.

        .control-group.flex.flex-wrap(style="gap: 1ch; justify-content: center; align-items: start;")
          div
            button.max-content.button.button--primary.form__button(type="submit") Отправить заявку
          div
            span
              | Отправляя заявку, вы соглашаетесь с обработкой ваших персональных данных.

  // 1. The dialog container
  #sent-dialog.dialog-container(aria-labelledby="sent-dialog__title", data-a11y-dialog="sent-dialog", aria-hidden="true")
    // 2. The dialog overlay
    .dialog-overlay(data-a11y-dialog-hide)
    // 3. The actual dialog
    .dialog-content(role="dialog", style="position: relative;")
      // 4. The close button
      button(type="button", data-a11y-dialog-hide, aria-label="Close dialog", style="position: absolute; top: 0; right: 0;") &times;
      // 5. The dialog title
      .dialog-content__container(style="padding: 10mm;")
        h2#sent-dialog__title Ваша заявка
        .dialog-content__data ОФОРМЛЕНА, НО НЕ ОТПРАВЛЕНА

block scripts
  script(src="vendor/jquery/jquery.min.js")
  script(src="vendor/suggestions/jquery.suggestions.min.js")
  script(src="vendor/imask/imask.min.js")

  // https://github.com/KittyGiraudel/a11y-dialog
  script(src="https://cdn.jsdelivr.net/npm/a11y-dialog@7/dist/a11y-dialog.min.js")
  script.
    // Get the dialog container HTML element (with the accessor method you want)
    const element = document.getElementById('sent-dialog');
    // Instantiate a new A11yDialog module
    const dialog = new A11yDialog(element);

  script.
    window.terminals = !{JSON.stringify(tariffs.terminals)};
    window.places = !{JSON.stringify(tariffs.places)};
  script(src="js/order.js")
