extends ../pug/layout

mixin contact(role)
  fieldset
    legend
      case role
        when 'consigner'
          | Контактное лицо по вопросам отправления груза грузоотправителем
        when 'consignee'
          | Контактное лицо по вопросам получения груза грузополучателем
        when 'payer'
          | Контактное лицо по вопросам оплаты перевозки груза

    .control
      label(for=`${role}-contact-fio`) ФИО
      input(id=`${role}-contact-fio`, type="text", name=`${role}-contact-fio`, data-suggestion-type="name")
    .control
      label(for=`${role}-contact-tel`) Телефон
      input(id=`${role}-contact-tel`, type="tel", name=`${role}-contact-tel`)

mixin counterpartyRole(role)
  -
    const roles = {
      consigner: 'Грузоотправитель',
      consignee: 'Грузополучатель',
      payer: 'Плательщик'
    };

  h3.h3=roles[role]
  .control-group(style="display: flex;")
    .control
      input(id=`${role}-type-legal-entity`, type="radio", name=`${role}-type`, value="legal-entity")
      label(for=`${role}-type-legal-entity`) Организация или ИП
    .control
      input(id=`${role}-type-private-person`, type="radio", name=`${role}-type`, value="private-person")
      label(for=`${role}-type-private-person`) Частное лицо

  .control-group(class=`group-${role}-legal-entity`, hidden)
    .control
      label(for=`${role}`) Организация или ИП
      input(id=`${role}`, type="text", name=`${role}`, placeholder="название, адрес, ИНН или ОГРН")
    .control
      label(for=`${role}-OGRN`) ОГРН
      input(id=`${role}-OGRN`, type="text", name=`${role}-OGRN`)
    .control
      label(for=`${role}-INN`) ИНН
      input(id=`${role}-INN`, type="text", name=`${role}-INN`)
    .control
      label(for=`${role}-KPP`) КПП
      input(id=`${role}-KPP`, type="text", name=`${role}-KPP`)
    .control
      label
        span Юридический адрес
        textarea(id=`${role}-address`, name=`${role}-address`, data-suggestion-type="address")
    if role==='payer'
      +contact('payer')

  .control-group(class=`group-${role}-private-person`, hidden)
    .control
      label(for=`${role}-fio`) ФИО
      input(id=`${role}-fio`, type="text", name=`${role}-fio`, data-suggestion-type="name")

    .control
      label(for=`${role}-tel`) Телефон
      input(id=`${role}-tel`, type="tel", name=`${role}-tel`)

  case role
    when 'consigner'
    when 'consignee'
      .control
        input(id=`${role}-is-payer`, type="checkbox", name=`${role}-is-payer`, value=`${role}-is-payer`)
        label(for=`${role}-is-payer`) #{roles[role]} является плательщиком

mixin cargoOperation(operation)
  h4.h4
    case operation
      when 'loading'
        | Отправление груза
      when 'unloading'
        | Получение груза

  case operation
    when 'loading'
      +contact('consigner')
    when 'unloading'
      +contact('consignee')

  if operation === 'loading'
    label.control
      span Дата
      |
      input(id=`${operation}-date`, type="date", name=`${operation}-date`)
    label.control
      span Время
      |
      input(id=`${operation}-time`, type="text", name=`${operation}-time`)

  .control
    label(for=`${operation}-place`)
      case operation
        when 'loading'
          | Место отправления груза
        when 'unloading'
          | Место получения груза

    select(id=`${operation}-place`, name=`${operation}-place`)
      option(selected, disabled, value) &lt;не выбрано&gt;
      each placeName, place in places
        option(value=place)=placeName
      option(value="other") Другой город
    p.place-point-client-message Для подачи машины в город Артем выберите #[q Владивосток].

  .control-group
    .control(class=`${operation}-terminal-control`)
      input(id=`${operation}-point-terminal`, type="radio", name=`${operation}-point`, value=`${operation}-point-terminal`)
      label(class=`${operation}-point-terminal-title`, for=`${operation}-point-terminal`) Терминал перевозчика
    .control
      input(id=`${operation}-point-client`, type="radio", name=`${operation}-point`, value=`${operation}-point-client`)
      label(for=`${operation}-point-client`) Подача машины
    .control
      input(id=`${operation}-point-pickup`, type="radio", name=`${operation}-point`, value=`${operation}-point-pickup`)
      label(for=`${operation}-point-pickup`) Передача груза на трассе в согласованное с водителем время

  .control-group(class=`group-${operation}-point-client-address`, hidden)
    label.control
      span Адрес передачи груза
      textarea(id=`${operation}-point-client-address`, name=`${operation}-point-client-address`, data-suggestion-type="address")

block head
  script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js")
  link(href="https://cdn.jsdelivr.net/npm/suggestions-jquery@21.6.0/dist/css/suggestions.min.css", rel="stylesheet")
  script(src="https://cdn.jsdelivr.net/npm/suggestions-jquery@21.6.0/dist/js/jquery.suggestions.min.js")
  script(src="vendor/imask/imask.min.js")

  include ../pug/tariffs
  script.
    const terminals = !{JSON.stringify(tariffs.terminals)};
    const places = !{JSON.stringify(tariffs.places)};
  script(src="js/order.js" defer)

  style.
    .suggestions-promo {
      display: none !important;
    }

block content
  -
    const places = tariffs.places;

  form.form(name="order", onsubmit="alert('Заявка отправлена.'); return false;")
    h2.h2 Заявка на грузоперевозку
    .control
      label(for="order-loading-date") Дата отправления
      input#order-loading-date(type="date", name="order-loading-date")
      p Заявка на следующие сутки принимается до #[time 16:00]
    section
      +counterpartyRole('consigner')
    section
      +counterpartyRole('consignee')
    section.section-payer
      +counterpartyRole('payer')

    section
      h3.h3 Груз
      .control
        label(for="cargo") Наименование
        input#cargo(type="text", name="cargo")
      .control
        label(for="cargo-weight") Вес, кг
        input#cargo-weight(type="text", name="cargo-weight", inputmode="numeric")
      .control
        label(for="cargo-volume") Объем, м³
        input#cargo-volume(type="text", name="cargo-volume", inputmode="numeric")
      .control
        label(for="cargo-qty") Количество мест
        input#cargo-qty(type="text", name="cargo-qty", inputmode="numeric")
      .control
        label(for="cargo-condition") Температурный режим
        input#cargo-condition(type="text", name="cargo-condition", placeholder="не требуется")
      .control
        label(for="cargo-value") Ценность груза, руб.
        input#cargo-value(type="text", name="cargo-value", inputmode="numeric")

    section
      h3.h3 Отправление и получение груза

      section
        +cargoOperation('loading')
      section
        +cargoOperation('unloading')

      section
        h4.h4
          label(for="loading-memo") Комментарий
        .control
          textarea#loading-memo(name="loading-memo", placeholder="например, сделать остановку в Хабаровске")

    section
      h3.h3 Оплата
      .control
        label(for="payment-form") Форма оплаты
        select#payment-form
          option(selected, value) &lt;не выбрано&gt;
          option(value="Безналичный") Безналичный
          option(value="Наличный") Наличный
          option(value="Наличный без чека") Наличный без чека
        p Безналичный расчет возможен только при наличии договора.
      label.control
        span Страховка
        select#insurance(name="insurance")
          option(selected, disabled, value) &lt;не выбрано&gt;
          option(value="страховать") страховать
          option(value="не страховать") не страховать

    section
      h3.h3 Заявку составил
      .control
        label(for="order-author-fio") ФИО
        input#order-author-fio(type="text", name="order-author-fio", required)
        script.
          $("#order-author-fio").suggestions({
              token: "1aef0cdf8ae200e131d3e69cb08ee4983f20e311",
              type: "NAME",
              onSelect: function(suggestion) {
                  console.log(suggestion);
              }
          });

      .control
        label(for="order-author-email") Е-майл
        input#order-author-email(type="email", name="order-author-email")
      .control
        label(for="order-author-tel") Телефон
        input#order-author-tel(type="tel", name="order-author-tel", required)

    section
      h3.h3 Отправка заявки

      ul
        li
          a(href="terms.html") Условия перевозки грузов
        li
          a(href="pricing.html") Тарифы на грузоперевозку
        li
          a(href="personal-data-policy.html") Политика обработки персональных данных

      .control
        input#accept(type="checkbox", name="accept", value="accept")
        label(for="accept") Я ознакомился с условиями перевозки грузов и тарифами, с обработкой персональных данных согласен.

      button(type="submit") Отправить заявку
