extends ../pug/layout

block head
  script(src="js/calculator.js")

block content

  -
    const places = {
      vvo: "Владивосток",
      uss: "Уссурийск",
      khb: "Хабаровск",
      blg: "Благовещенск",
      kms: "Комсомольск-на-Амуре"
    };

    const getDestinationPlaces = (origin, prices) => {
      const destinationPlaces = new Set();

      prices.forEach(({price}) => {
        Object.keys(price[origin]).forEach((place) => destinationPlaces.add(place))
      })

      return [...destinationPlaces];
    };

    const heavyCargoPrices = [
      {
        title: "до 1000 кг",
        limit: 1000,
        price: {
          vvo: {khb: 5.0, kms: 8.0, blg: 9.0},
          uss: {khb: 5.0, kms: 7.0, blg: 8.5},
          khb: {vvo: 3.7, uss: 3.5, blg: 5.5, kms: 4.5},
          blg: {khb: 5.5, kms: 8.0, vvo: 8.0},
          kms: {vvo: 6.5, khb: 2.5}
        }
      },
      {
        title: "от 1000 кг до 5000 кг",
        limit: 5000,
        price: {
          vvo: {khb: 4.8, kms: 7.0, blg: 8.5},
          uss: {khb: 4.0, kms: 6.0, blg: 8.0},
          khb: {vvo: 3.0, uss: 2.7, blg: 5.0, kms: 4.0},
          blg: {khb: 5.0, kms: 7.0, vvo: 7.0},
          kms: {vvo: 5.5, khb: 2.0}
        }
      },
      {
        title: "от 5000 кг до 10000 кг",
        limit: 10000,
        price: {
          vvo: {khb: 4.0, kms: 6.0, blg: 8.0},
          uss: {khb: 3.5, kms: 5.0, blg: 7.5},
          khb: {vvo: 2.5, uss: 2.2, blg: 4.5, kms: 3.5},
          blg: {khb: 4.0, kms: 6.0, vvo: 6.0},
          kms: {vvo: 5.0, khb: 1.9}
        }
      },
      {
        title: "от 10000 кг до 15000 кг",
        limit: 15000,
        price: {
          vvo: {khb: 3.8, kms: 5.5, blg: 7.5},
          uss: {khb: 3.2, kms: 4.5, blg: 7.0},
          khb: {vvo: 2.1, uss: 2.0, blg: 4.0, kms: 3.2},
          blg: {khb: 3.0, kms: 5.0, vvo: 5.0},
          kms: {vvo: 4.5, khb: 1.7}
        }
      },
      {
        title: "более 15000 кг",
        limit: Infinity,
        price: {
          vvo: {khb: 3.3, kms: 5.0, blg: 6.5},
          uss: {khb: 3.0, kms: 4.0, blg: 6.0},
          khb: {vvo: 2.0, uss: 1.9, blg: 3.7, kms: 3.0},
          blg: {khb: 2.0, kms: 4.0, vvo: 4.0},
          kms: {vvo: 3.5, khb: 1.5}
        }
      }
    ];

    const lightCargoPrices = [
      {
        title: "до 5 м³",
        limit: 5,
        price: {
          vvo: {khb: 1000, kms: 1600, blg: 1800},
          uss: {khb: 1000, kms: 1400, blg: 1700},
          khb: {vvo:  740, uss:  700, blg: 1100, kms:  900},
          blg: {khb: 1100, kms: 1600, vvo: 1600},
          kms: {vvo: 1300, khb:  500}
        }
      },
      {
        title: "от 5 м³ до 25 м³",
        limit: 25,
        price: {
          vvo: {khb:  960, kms: 1400, blg: 1700},
          uss: {khb:  800, kms: 1200, blg: 1600},
          khb: {vvo:  600, uss:  540, blg: 1000, kms:  800},
          blg: {khb: 1000, kms: 1400, vvo: 1400},
          kms: {vvo: 1100, khb:  400}
        }
      },
      {
        title: "от 25 м³ до 50 м³",
        limit: 50,
        price: {
          vvo: {khb:  800, kms: 1200, blg: 1600},
          uss: {khb:  700, kms: 1000, blg: 1500},
          khb: {vvo:  500, uss:  440, blg: 900, kms:  700},
          blg: {khb:  800, kms: 1200, vvo: 1200},
          kms: {vvo: 1000, khb:  380}
        }
      },
      {
        title: "от 50 м³ до 75 м³",
        limit: 75,
        price: {
          vvo: {khb:  760, kms: 1100, blg: 1500},
          uss: {khb:  640, kms:  900, blg: 1400},
          khb: {vvo:  420, uss:  400, blg: 800, kms:  640},
          blg: {khb:  600, kms: 1000, vvo: 1000},
          kms: {vvo:  900, khb:  340}
        }
      },
      {
        title: "более 75 м³",
        limit: Infinity,
        price: {
          vvo: {khb:  660, kms: 1000, blg: 1300},
          uss: {khb:  600, kms:  800, blg: 1200},
          khb: {vvo:  400, uss:  380, blg: 740, kms:  600},
          blg: {khb:  400, kms:  800, vvo:  800},
          kms: {vvo:  700, khb:  300}
        }
      }
    ];

    const minPrices = [
      {
        title: "документы до 0,5 кг",
        limitHeavy: 0.5,
        limitLight: 0.35,
        price: {
          vvo: {khb:  250, kms:  350, blg:  350},
          uss: {khb:  250, kms:  350, blg:  350},
          khb: {vvo:  250, uss:  250, blg:  250, kms:  250},
          blg: {khb:  250, kms:  250, vvo:  250},
          kms: {vvo:  250, khb:  250}
        }
      },
      {
        title: "от 1 кг<br>до 70 кг (0,35 м³)",
        limitHeavy: 70,
        limitLight: 0.35,
        price: {
          vvo: {khb:  350, kms:  500, blg:  650},
          uss: {khb:  350, kms:  450, blg:  600},
          khb: {vvo:  300, uss:  300, blg:  350, kms:  300},
          blg: {khb:  300, kms:  500, vvo:  450},
          kms: {vvo:  400, khb:  150}
        }
      },
      {
        title: "от 70 кг (0,35 м³)<br>до 150 кг (0,75 м³)",
        limitHeavy: 70,
        limitLight: 0.35,
        price: {
          vvo: {khb:  750, kms: 1200, blg: 1350},
          uss: {khb:  750, kms: 1050, blg: 1250},
          khb: {vvo:  600, uss:  550, blg:  750, kms:  650},
          blg: {khb:  600, kms: 1050, vvo: 1000},
          kms: {vvo:  850, khb:  350}
        }
      }
    ];

  article.pricing
    h2.h2 Прайс-лист по направлениям
    section
      h3.h3 Подача а/м на погрузку/выгрузку
      table.table
        tbody
          tr
            td Подача а/м грузоподъемностью до 5 т / 25 м³
            td 1000 руб./час
          tr
            td Подача а/м грузоподъемностью до 10 т / 45 м³
            td 1700 руб./час
          tr
            td Подача а/м с прицепом грузоподъемностью более 10 т (от 45&nbsp;м³ до 90 м³)
            td 2100 руб./час
      p При массе груза более 5 тонн или объеме груза более 25 кубометров а/м подается бесплатно.

    section
      h3.h3 Тарифы на междугороднюю перевозку
      p Если объем 1 тонны груза более 5 кубометров, груз считается легким. В противном случае груз считается тяжелым.
      -let destinationPlaces;
      .pricing__directions
        -for (const origin of Object.keys(places))
          details(style="page-break-inside: avoid;")
            summary
              h4.h4(style="display: inline;")
                | Место отправления:
                |
                span(style="white-space: nowrap;") #{places[origin]}

            .pricing__table-list
              .pricing__table-wrapper
                -destinationPlaces = getDestinationPlaces(origin, heavyCargoPrices);
                table.table.pricing__table
                  caption
                    h5.h5 Тяжелый груз
                    span.pricing__table-measure-unit руб./кг

                  thead
                    tr
                      th(rowspan="2", scope="col") Масса груза
                      th(colspan=destinationPlaces.length, scope="colgroup") Место получения
                    tr
                      each destination in destinationPlaces
                        th(scope="col")
                          span.v-text=places[destination]

                  tbody
                    each priceRow in heavyCargoPrices
                      tr
                        th(scope="row") !{priceRow.title.replace(/\sм³/g, '&nbsp;м³')}
                        each destination in destinationPlaces
                          td=priceRow.price[origin][destination].toString().replace('.', ',')

              .pricing__table-wrapper
                -destinationPlaces = getDestinationPlaces(origin, lightCargoPrices);
                table.table.pricing__table
                  caption
                    h5.h5
                      span(title="Груз считается легким, если объем 1 тонны груза более 5 кубометров") Легкий груз
                    span.pricing__table-measure-unit руб./м³

                  thead
                    tr
                      th(rowspan="2", scope="col") Объем груза
                      th(colspan=destinationPlaces.length, scope="colgroup") Место получения
                    tr
                      each destination in destinationPlaces
                        th(scope="col")
                          span.v-text=places[destination]

                  tbody
                    each priceRow in lightCargoPrices
                      tr
                        th(scope="row") !{priceRow.title.replace(/\sм³/g, '&nbsp;м³')}
                        each destination in destinationPlaces
                          td=priceRow.price[origin][destination].toString().replace('.', ',')

              .pricing__table-wrapper
                -destinationPlaces = getDestinationPlaces(origin, minPrices);
                table.table.pricing__table
                  caption
                    h5.h5 Минимально за мелкий груз
                    span.pricing__table-measure-unit руб.

                  thead
                    tr
                      th(rowspan="2", scope="col") Масса или объем груза
                      th(colspan=destinationPlaces.length, scope="colgroup") Место получения
                    tr
                      each destination in destinationPlaces
                        th(scope="col")
                          span.v-text=places[destination]

                  tbody
                    each priceRow in minPrices
                      tr
                        th(scope="row") !{priceRow.title.replace(/\sм³/g, '&nbsp;м³').replace(/\sкг/g, '&nbsp;кг')}
                        each destination in destinationPlaces
                          td=priceRow.price[origin][destination].toString().replace('.', ',')

    section
      h3.h3 Примечания
      p При использовании рефрижераторной установки взимается дополнительная плата 4000 руб./сутки.
      p.
        При перевозке негабаритного груза стоимость за услуги увеличивается на 30%.
        Негабаритным груз считается, если объем одного места превышает 1 кубометр или одна из линейных величин
        (длина, ширина, высота) превышает 1 метр; а также места, которые по своим размерам и свойства не могут быть
        загружены и размещены в транспортном средстве без затруднений.
